.cta {
  padding: 5rem 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  &__phrase {
    font-size: 1.5rem;
    font-weight: 700;

    p {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
