.footer {
  align-items: center;
  border-top: 2px solid $secondary;
  padding: 1rem;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  ul {
    display: inline-flex;

    li {
      a {
        color: $secondary;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: center;

    ul {
      display: inline;
      margin-bottom: 0;

      li {
        display: inline-flex;
        padding: 0 0.5rem;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    ul {
      margin-bottom: 0;

      li {
        padding: 0.5rem;
      }
    }
  }

  &__icon {
    fill: $primary;
    height: 1.5rem;
    transition: all ease-in-out 0.25s;
    width: 1.5rem;

    &:hover {
      opacity: 0.5;
    }
  }

  &__copy {
    margin-bottom: 0;

    a {
      color: $primary;
      font-weight: 800;
    }
  }
}

.back-top{
  background: $primary;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  bottom: 15px;
  color: white;
  right: 15px;
  position: fixed;
  padding: 15px;

  &__icon{
    fill: white;
    height: 1rem;
    transform: rotate(-90deg);
    width: 1rem;
  }
}