.header {
  .custom-logo-link {
    @include media-breakpoint-up(md) {
      margin-right: 2rem;
    }
  }

  ul {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
  }

  .navbar {
    justify-content: space-between;
  }

  &__menu-icon {
    fill: $secondary;
    height: 2rem;
    width: 2rem;
  }

  &__contact {
    display: flex;
    justify-content: center;

    ul {
      margin: 0 auto;
      text-align: center;
      width: 100%;

      @include media-breakpoint-up(md) {
        text-align: left;
      }

      li {
        padding: 0 0.5rem;

        @include media-breakpoint-up(md) {
          padding: 0 1.5rem;
        }

        a {
          color: $secondary;
          font-weight: 700;
        }
      }
    }
  }

  &__icon {
    fill: $secondary;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__menu {
    display: flex;
    justify-content: center;

    a {
      color: $primary;
      font-size: 1rem;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      transition: all ease-in-out 0.25s;

      &:hover {
        color: $secondary;
      }
    }

    &.btn {
      a {
        svg {
          fill: white;
          height: 1rem;
          margin: 0 0 5px 5px;
          width: 1rem;
        }
      }
    }
  }

  &__cta {
    a {
      background: $primary;
      color: $white;
    }
  }
}
