/*! purgecss start ignore */
.modal{
  background: rgba($primary, .5);
}

.modalcta {
  &.modal-content{
    border: 0;
    position: relative;

    button{
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  &__title {
    background: $primary;
    padding: 2rem;
    position: relative;

    h3{
      color: $white;
    }

    img{
      bottom: 0;
      display: none;
      right: -100px;
      position: absolute;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
  }

  &__form{
    max-width: 350px;
    padding: 2rem 0;
    text-align: left;

    label{
      font-size: .85rem;
      font-weight: 800;
    }

    p{
      margin-bottom: .5rem;
    }

    input,
    textarea{
      background: #f8f8f8;
      border: 2px solid $secondary;
      font-size: .85rem;
      padding: .75rem 1rem;
      max-width: 100%;
    }

    textarea{
      font-family: Montserrat, sans-serif;
      max-height: 130px;
    }

    input[type=submit]{
      background: $primary;
      border: 0;
      color: $white;
      cursor: pointer;
      font-weight: 800;
      padding: 1rem 1.25rem;
      text-transform: uppercase;
      transition: all ease-in-out .25s;
      width: 100%;

      &:hover{
        opacity: .75;
      }

      &:active{
        background: $secondary;
      }
    }
  }
}
/* purgecss end ignore */
