.services {
  padding: 2.5rem 0;
  text-align: center;

  .row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $primary;
    margin-bottom: 2rem;
  }

  &__images {
    height: auto;
    max-width: 100%;
    transition: all ease-in-out .25s;

    &:hover{
      transform: scale(1.05, 1.05);
    }
  }
}
