.services {
  padding: 2.5rem 0;
  text-align: center;

  .row {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $primary;
    margin-bottom: 2rem;
  }

  &__images {
    height: auto;
    max-width: 100%;
  }
}
